/*CSS stylesheet for Skillz prototype website by Nellie Tobey*/

* {
    margin: 0;
    padding: 0;
}


body {
    width: 100%;
    margin: 1px;
    background: black;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    background-image: url("welding.jpg");
    background-size: cover;
}
.special-float-fixed {
    display: inline-flex;
    position: fixed;
    z-index: 4;
    width: 100%;
    margin-top: 5vh;
    align-content: center;
    justify-items: center;
    background-color: rgba(222, 238, 243, 0.65);
    color: black;
    height: auto;
    overflow: visible;
}
    .special-float-fixed h1 {
        font-weight: bold;
        text-align: center;
        width: 100vw;
        font-size: 5em;
        text-shadow: 1px 1px #b4e5ec;

    }
main {
    display: inline-block;
    margin-top: 35px;
    width: 100%;
}

.floating-nav {
    display: inline-flex;
    width: 100%;
    top: 5vh;
    background-color: #e7f2f3;
    color: purple;
    text-shadow: 1px 1px 2px #dcddea;
    position: fixed;
    z-index: 4;
}

    .floating-nav a {
        text-align: center;
        justify-content: center;
        font-weight: bold;
        margin: 2vw;
        text-shadow: 1px 1px 1px #dcddea;
    }
.image_1_top_right {
    position: absolute;
    margin: 0;
    z-index: 3;
    top: -10vh;
    left: 25vw;
    height: 40vh;
    width: 50vw;
    background-image: url("welding.jpg");
    background-size: cover;
    transform: rotate3d(1, 1, 1, 20deg);
    border: 1px solid black;


}
.image_2_mid_left {
    position: relative;
    margin: 0;
    z-index: 2;
    top: -10vh;
    left: 25vw;
    height: 40vh;
    width: 50vw;
    background-image: url("design-embroidery-pattern-65063.jpg");
    transform: rotate3d(1, 1, 1, -20deg);
    border: 1px solid black;

}
.image_3_top_left {
    position: relative;
    z-index: 3;
    margin: 0;
    top: -10vh;
    left: 25vw;
    height: 40vh;
    width: 50vw;
    background-image: url("painting.jpg");
    background-size: cover;
    opacity: 1.0;
    border: 1px solid black;

}
.image_4_bottom_left {
    position: relative;
    z-index: 3;
    margin: 0;
    top: -10vh;
    left: 25vw;
    height: 40vh;
    width: 50vw;
    background-image: url("blur-blurry-coffee-273222.jpg");
    background-size: cover;
    opacity: 1;
    border: 1px solid black;

}

.image_5_bottom_right {
    position: relative;
    z-index: 2;
    top: -10vh;
    left: 25vw;
    height: 40vh;
    width: 50vw;
    background-image: url("adult-blur-camera-598917.jpg");
    background-size: contain;
    transform: rotate3d(1, 1, 1, 10deg);
    opacity: 1.0;
    border: 1px solid black;
}
